
.clean-link {
    display: grid;
    
}


.mail-buttons{

    border: 1px solid blue;
    background-color: rgb(240, 240, 240);
    font-size: large;
    width: 15%;
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    margin-left: 85%;


}
.mail-preview:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mail-preview:hover + .mail-buttons,  .mail-buttons:hover{
    opacity: 1;

}

.button {
    height: 100%;
    width: 33.3%;
}

.mail-preview{

    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(240, 240, 240);
    font-size: large;
    grid-column: 1;
    grid-row: 1;
}

.details {
    display: grid;
    width: 100%;
    border: darkgreen solid 2px;
}
.details-sender{
    width: 85%;
    text-align: left;
    padding-left: 5px;
    align-content: left;
    margin-left: 0px;
    margin-top: 0;
    color: grey;
    grid-column: 1;
    grid-row: 1;
}
.details-body{
    width: 85%;
    text-align: left;
    padding-left: 5px;
    align-content: left;
    margin-left: 0px;
    grid-column: 1;
    grid-row: 2;

}

.expand-mail {
    margin-left: 94%;
    width: 5%;
    grid-column: 1;
    grid-row: 1;
    margin-top: 10px;
    
}