.new-mail{

    border: 1px solid blueviolet;
    position:fixed;
    right: 0;
    height: 87%;
    width: 80%;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

.send-email-buttons{
    height: 12%;

}
.mail-to{
    height: 8%;

}

.mail-subject{
    height: 8%;
    
}

.mail-body{
    height: 72%;

    
}